
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Estilos generales */
.color-blanco{
  color: white;
}
/* Barra de navegacion */
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-nav .nav-item {
    text-align: center;
    color: white;
}
a.nav-link:hover{
  color: orange;
}
/* Seccion Hero */
.hero-image{
  display: flex;
  min-height: 80vh;
  background-image: url("https://picsum.photos/id/274/1280/720");
  background-image: url('/assets/hero-image'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.texto-div {
  min-height: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  text-align: center; 
}
.texto-div h2 {
  font-size: 8vw;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
}

/********** Media Queries **********/
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
 }

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 


 }

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .texto-div h2 {
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
    line-height: 1.2;
  }
 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

 }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

 }

