
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Estilos generales */
.color-blanco{
  color: white;
}
.altura-texto-5{
  font-size: 5.5vh;
}
.altura-texto-4{
  font-size: 4.3vh;
}
.altura-texto-3{
  font-size: 3.2vh;
}
.fuente-personalizada{
  font-family: 'Titillium Web', sans-serif;
}
/* Barra de navegacion */
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-nav .nav-item {
    text-align: center;
    color: white;
}
a.nav-link:hover{
  color: orange;
}
/* Seccion Hero */
.hero-image{
  display: flex;
  min-height: 80vh;
  background-image: url("https://picsum.photos/id/274/1280/720");
  background-image: url('/assets/hero-image.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.texto-div {
  min-height: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  text-align: center; 
}
.texto-div h2 {
  font-size: 8vw;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
}
/* Seccion Carrusel */
.titulo-carrusel{
  text-align: center;
}
.seccion-carrusel p,
.seccion-carrusel h3{
  font-family: 'Titillium Web', sans-serif;
}
.seccion-carrusel p {
  margin-bottom: 0px;
  font-size: 3.2vh;
}
.seccion-carrusel h3{
  font-size: 4.3vh;
  text-decoration: underline;
  font-weight: bold;
}

.carousel-caption {
  /* background-color: rgba(0, 0, 0, 0.7);  */
  color: black; 
  position: static;
}
.carousel { overflow: hidden; padding-bottom: 4rem; }
.carousel-caption { top: 100%; }
.carousel-inner { overflow: visible; }
.carousel-control-next, .carousel-control-prev { 
  bottom: 16rem;
}
.carousel-indicators{
  bottom: 10rem;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230000aa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230000aa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }
/* Sección Experiencia */
.experiencia{
  margin-top: -79px;
}
.columna {
  border: 1px solid #1b1b32;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.4s ease-in;
  height: 565px;
}
.experiencia-titulo{
  font-family: 'Titillium Web', sans-serif;
  font-size: 27px;
  font-weight: bold;
  margin: 10px 0;
}
.experiencia p{
  text-align: start;
}
.experiencia .icono-grande{
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #1b1b32;   
  padding: 8px 19px;
  border-radius: 60%;
}
.pfn {
  padding-bottom: 24px;
}

div.precio-contenedor {
  margin-top: 34px;
}
.precio{
  border: solid 3px #1b1b32;
}
.experiencia .columna:hover{
  color: white;
  background-color: #1b1b32;
  .precio{
    border: solid 3px #7ade30;
  }
}

.chec {
  color: #52b208;
}

.cross {
  color: #e94107;
}

.precio-contenedor {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.precio {
  font-size: 18px;
}
/********** Media Queries **********/
/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .pfn{
    padding-bottom: 24px;
  }
  div.precio-contenedor{
    margin-top: 34px;
  }

}
/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .pfn {
   padding-bottom: 0px;
   padding-top: 1px;
 }
 .pfn2{
  padding-bottom: 1px;
 }
 .pfn4{
  padding-bottom: 23px;
 }
 div.precio-contenedor {
   margin-top: 10px;
 }
 .experiencia .columna {
   height: 615px;
 }
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
 /* .texto-div h2 {
   font-size: calc(1.575rem + 3.9vw);
   font-weight: 300;
   line-height: 1.2;
 } */
 .pfn,
 .pfn2 {
   padding-bottom: 0px;
   padding-top: 1px;
 }
 .pfn3{
  padding-bottom: 24px;
}
.pfn4{
  padding-bottom: 23px;
}

 /* .pfn2{
  padding-bottom: 24px;
  } */
 div.precio-contenedor {
   margin-top: 0px;
 }
 div.precio-contenedorsup {
   margin-top: 16px;
 }
 .experiencia .columna {
   height: 480px;
 }
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
.pfn3,
.pfn5{
  padding-bottom: 24px;
 }
 .experiencia .columna {
   height: 420px;
 }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
 
}

